{% extends 'arfi/base.html' %}

{% block title %}
Job Order
{% endblock %}

{% block table %}
<table id="items" class="table table-striped table-bordered" style="width:100%" data-server-side="true" data-ajax="/api/items/?format=datatables">
  <thead>
    <tr>
      <th data-data="id">ID</th>
      <th data-data="updated_at_pretty">Tanggal Diperbaharui</th>
      <th data-data="name">Nama Barang</th>
      <th data-data="quantity">Quantity</th>
      <th data-data="price">Harga</th>
    </tr>
  </thead>
</table>
{% endblock %}

{% block table_script %}
<script>
    $(document).ready(function() {
        $('#items').DataTable();
    });
</script>
{% endblock %}

