{% extends 'arfi/base.html' %}

{% block title %}
Job Order
{% endblock %}

{% block table %}
<table id="receiving_reports" class="table table-striped table-bordered" style="width:100%" data-server-side="true" data-ajax="/api/receiving_reports/?format=datatables">
  <thead>
    <tr>
      <th data-data="id">PO. Order</th>
      <th data-data="supplier_id">Tanggal Diperbaharui</th>
      <th data-data="supplier_name">Nama Supplier</th>
      <th data-data="date_pretty">Tanggal</th>
      <th data-data="items_serialized">Item list</th>
    </tr>
  </thead>
</table>
{% endblock %}

{% block table_script %}
<script>
    $(document).ready(function() {
        $('#receiving_reports').DataTable();
    });
</script>
{% endblock %}

