{% extends 'arfi/base.html' %}
{% block table %}
<table id="service_orders" class="table table-striped table-bordered" style="width:100%" data-server-side="true" data-ajax="/api/service_orders/?format=datatables">
  <thead>
    <tr>
      <th data-data="id">No.Order</th>
      <th data-data="date">Tanggal</th>
      <th data-data="client_id">Client ID</th>
      <th data-data="client_id__name">Nama Client</th>
      <th data-data="project_name">Nama Proyek</th>
      <th data-data="address">Alamat</th>
      <th data-data="jobs">List Pekerjaan</th>
    </tr>
  </thead>
</table>
{% endblock %}

{% block table_script %}
<script>
    $(document).ready(function() {
        $('#service_orders').DataTable({
          columns: [
            { searchable:false },
            {},
            { searchable:false },
            {},
            {},
            {},
            { searchable:false },
          ]
        });
    });
</script>
{% endblock %}

