{% load static %}

<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Home {% endblock title %}</title>
  <link rel="shortcut icon" href="{% static "favicon.ico" %}">
  <!-- bootstrap -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
  <!-- data tables -->
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
	<!-- food icons -->
	<link rel="stylesheet" type="text/css" href="{% static "css/organicfoodicons.css" %}" />
	<!-- demo styles -->
	<link rel="stylesheet" type="text/css" href="{% static "css/demo.css" %}" />
	<!-- menu styles -->
  <link rel="stylesheet" type="text/css" href="{% static "css/component.css" %}" />
  
	<script src="{% static "js/modernizr-custom.js" %}"></script>
</head>

<body>
	<!-- Main container -->
	<div class="container__main">
		<!-- Blueprint header -->
		<header class="bp-header cf">
			<div class="dummy-logo">
        <img style="max-width:50%;" src="{% static "img/arfi_logo.png" %}">
				<!-- <div class="dummy-icon foodicon foodicon--coconut"></div> -->
				<h2 class="dummy-heading" style="color:#3d3f9b;">Jasa Teknik Elektrik</h2>
      </div>
      <div class="bp-header__main">
        <span class="bp-header__present">{{ title }}<span class="bp-tooltip bp-icon"></span></span>
      </div>
		</header>
		<button class="action action--open" aria-label="Open Menu"><span class="icon icon--menu"></span></button>
		<nav id="ml-menu" class="menu">
			<button class="action action--close" aria-label="Close Menu"><span class="icon icon--cross"></span></button>
			<div class="menu__wrap">
				<ul data-menu="main" class="menu__level" tabindex="-1" role="menu" aria-label="All">
          {% for category, _ in navbar %}
					<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-{{forloop.counter}}" aria-owns="submenu-{{forloop.counter}}" href="#">{{ category }}</a></li>{% endfor %}
				</ul>
        <!-- Submenu -->
        {% for category, models in navbar %}
				<ul data-menu="submenu-{{forloop.counter}}" id="submenu-{{forloop.counter}}" class="menu__level" tabindex="-1" role="menu" aria-label="{{category}}">
          {% for url, model in models %}
          <li class="menu__item" role="menuitem"><a class="menu__link" href="/{{ url }}">{{ model }}</a></li>
          {% endfor %}
        </ul>
        {% endfor %}
			</div>
		</nav>
    <div class="content" id="content">
      <!-- Ajax loaded content here -->
      <div class="container" style="font-size: 12px">
        <div class="row">
          <div class="col-sm-12">
            {% block table %}
            <table id="default" class="table table-striped table-bordered" style="width:100%" data-server-side="true" data-ajax="/api/default/?format=datatables">
              <thead>
                <tr>
                  <th data-data="id">Id</th>
                  <th data-data="name">Name</th>
                  <th data-data="address">Address</th>
                </tr>
              </thead>
            </table>
            {% endblock %}
          </div>
        </div>
      </div>
		</div>
	</div>
	<!-- /view -->
	<script src="{% static "js/classie.js" %}"></script>
	<script src="{% static "js/dummydata.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
  {% block table_script %}
  <script>
      $(document).ready(function() {
          $('#{{ api }}').DataTable();
      });
  </script>
  {% endblock %}
	<script>
	(function() {
		var menuEl = document.getElementById('ml-menu'),
			mlmenu = new MLMenu(menuEl, {
				breadcrumbsCtrl : true, // show breadcrumbs
				initialBreadcrumb : 'all', // initial breadcrumb text
				backCtrl : false, // show back button
				itemsDelayInterval : 15, // delay between each menu item sliding animation
				// onItemClick: loadTable // callback: item that doesn´t have a submenu gets clicked - onItemClick([event], [inner HTML of the clicked item])
			});

		// mobile menu toggle
		var openMenuCtrl = document.querySelector('.action--open'),
			closeMenuCtrl = document.querySelector('.action--close');

		openMenuCtrl.addEventListener('click', openMenu);
		closeMenuCtrl.addEventListener('click', closeMenu);

		function openMenu() {
			classie.add(menuEl, 'menu--open');
			closeMenuCtrl.focus();
		}

		function closeMenu() {
			classie.remove(menuEl, 'menu--open');
			openMenuCtrl.focus();
		}

		// simulate grid content loading
		var gridWrapper = document.querySelector('.content');

		function loadDummyData(ev, itemName) {
			ev.preventDefault();

			closeMenu();
			gridWrapper.innerHTML = '';
			classie.add(gridWrapper, 'content--loading');
			setTimeout(function() {
				classie.remove(gridWrapper, 'content--loading');
				gridWrapper.innerHTML = '<ul class="products">' + dummyData[itemName] + '<ul>';
			}, 700);
    }
    
    function loadTable(ev, itemName) {
      ev.preventDefault();

			closeMenu();
			gridWrapper.innerHTML = '';
			classie.add(gridWrapper, 'content--loading');

      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById("content").innerHTML = this.responseText;
          classie.remove(gridWrapper, 'content--loading');
        }
      };
      xhttp.open("GET", "ajax/read", true);
      xhttp.send();
    }
    })();
	</script>
</body>

</html>
